<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="user-sec">
        <a class="navbar-brand" href="#"><img src="assets/images/logo2.png" class="img-responsive" /></a>
        <div class="pull-right drop-holder">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">Hi , User
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="user.html">Manage User</a></li>
              <li><a href="login.html">Logout</a></li>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default cus-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav nav-justified">
          <li class="active"><a href="index.html">Dashboard</a></li>
          <li><a href="area_setup.html">Area Setup</a></li>
          <li><a href="branch.html">Branch</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</nav>