<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h3 class="brown">Branch</h3>


      <div class="panel-group cus-panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Atlanta
              </a>
            </h4>

          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <h4 class="brown">Atlanta 1 <span class="small">Start - 7th May</span><span class="pull-right"><a href="#"
                    class="btn btn-success btn-xs lite text-uppercase">Edit</a></span></h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Reg/Dev</th>
                      <th>Recruited By</th>
                      <th># PCA</th>
                      <th>ARRIVAL</th>
                      <th>Date</th>
                      <th>APT ?</th>
                      <th>CARS ?</th>
                      <th>BC</th>
                      <th>Verify</th>
                      <th>AGMT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>&nbsp;1 <input type="checkbox" /></td>
                      <td>Kenny Gerowitz</td>
                      <td>Damon L.</td>
                      <td>Damon Lilly</td>
                      <td>250</td>
                      <td>5/7/2018</td>
                      <td>8/19/2018</td>
                      <td>M</td>
                      <td>YES</td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;2 <input type="checkbox" /></td>
                      <td>Daniel Schneider</td>
                      <td>Damon L.</td>
                      <td>Brian Kristof</td>
                      <td>120</td>
                      <td>5/7/2018</td>
                      <td>8/19/2018</td>
                      <td>S</td>
                      <td>YES</td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;3 <input type="checkbox" /></td>
                      <td>Meredith Klinedest</td>
                      <td>Damon L.</td>
                      <td>Kyle McCullough</td>
                      <td>118</td>
                      <td>5/7/2018</td>
                      <td>8/15/2018</td>
                      <td>F</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;4 <input type="checkbox" /></td>
                      <td>Adrian Rodriguez</td>
                      <td>Damon L.</td>
                      <td>Kenny G.</td>
                      <td>42</td>
                      <td>5/7/2018</td>
                      <td>8/19/2018</td>
                      <td>F</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;5 <input type="checkbox" /></td>
                      <td>Jay Norris</td>
                      <td>Damon L.</td>
                      <td>Kenny G.</td>
                      <td>70</td>
                      <td>5/9/2018</td>
                      <td>8/19/2018</td>
                      <td>S</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;6 <input type="checkbox" /></td>
                      <td>Connor McCourt</td>
                      <td>Damon L.</td>
                      <td>Conor McLaughlin</td>
                      <td></td>
                      <td>5/17/2018</td>
                      <td>8/17/2018</td>
                      <td>S</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;7 <input type="checkbox" /></td>
                      <td>Tyler McLean</td>
                      <td>Damon L.</td>
                      <td>Kenny G.</td>
                      <td></td>
                      <td>5/7/2018</td>
                      <td>8/31/2018</td>
                      <td>S</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;8 <input type="checkbox" /></td>
                      <td>Karee Levy</td>
                      <td>Damon L.</td>
                      <td>Kenny G.</td>
                      <td></td>
                      <td>5/9/2018</td>
                      <td>8/17/2018</td>
                      <td>S</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;9 <input type="checkbox" /></td>
                      <td>Blaize Brown</td>
                      <td>Damon L.</td>
                      <td>Meredith Klinedist</td>
                      <td></td>
                      <td>5/7/2018</td>
                      <td>8/19/2018</td>
                      <td>F</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>10 <input type="checkbox" /></td>
                      <td>James Cockman</td>
                      <td>Damon L.</td>
                      <td>Tyler Mclean</td>
                      <td>0</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>11 <input type="checkbox" /></td>
                      <td>Joseph Rengal</td>
                      <td>Damon L.</td>
                      <td>Taylor Reynolds</td>
                      <td></td>
                      <td>5/7/2018</td>
                      <td>8/19/2018</td>
                      <td>S</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>12 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>13 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>14 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>15 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>16 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>17 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>18 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>19 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>P1 <input type="checkbox" /></td>
                      <td>Kyle Lynip</td>
                      <td>Damon L.</td>
                      <td>Matthew Tyner</td>
                      <td>0</td>
                      <td>5/7/2018</td>
                      <td>8/11/2018</td>
                      <td>S</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>P2 <input type="checkbox" /></td>
                      <td>Matthew Tyner</td>
                      <td>Damon L.</td>
                      <td>Damon Lilly</td>
                      <td>150</td>
                      <td>3/15/2018</td>
                      <td>8/19/2018</td>
                      <td>S</td>
                      <td>YES</td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr>
              <h4 class="brown">Atlanta 2 <span class="small">Start - 7th May</span><span class="pull-right"><a href="#"
                    class="btn btn-success lite text-uppercase btn-xs">Edit</a></span></h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Reg/Dev</th>
                      <th>Recruited By</th>
                      <th># PCA</th>
                      <th>ARRIVAL</th>
                      <th>Date</th>
                      <th>APT ?</th>
                      <th>CARS ?</th>
                      <th>BC</th>
                      <th>Verify</th>
                      <th>AGMT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>&nbsp;1 <input type="checkbox" /></td>
                      <td>Dan Hagedorney</td>
                      <td>Damon L.</td>
                      <td>Kenny Gerowitz</td>
                      <td>265</td>
                      <td>3/18/2018</td>
                      <td>8/14/2018</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;2 <input type="checkbox" /></td>
                      <td>Sean Megens</td>
                      <td>Damon L.</td>
                      <td>Kevin Jang</td>
                      <td></td>
                      <td>5/7/2018</td>
                      <td>8/16/2018</td>
                      <td>S</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;3 <input type="checkbox" /></td>
                      <td>Andrew Hassenfelt</td>
                      <td>Damon L.</td>
                      <td>Dan Hagedorny</td>
                      <td></td>
                      <td>5/7/2018</td>
                      <td>8/19/2018</td>
                      <td>F</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;4 <input type="checkbox" /></td>
                      <td>Derek Penland</td>
                      <td>Damon L.</td>
                      <td>Brian Jang</td>
                      <td></td>
                      <td>5/14/2018</td>
                      <td>8/19/2018</td>
                      <td>S</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;5 <input type="checkbox" /></td>
                      <td>Brian Jang</td>
                      <td>Damon L.</td>
                      <td>Kenny Gerowitz</td>
                      <td></td>
                      <td>5/14/2018</td>
                      <td>8/19/2018</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>&nbsp;6 <input type="checkbox" /></td>
                      <td>Justin Wilcher</td>
                      <td>Damon L.</td>
                      <td>Kenny Gerowitz</td>
                      <td></td>
                      <td>5/14/2018</td>
                      <td>8/19/2018</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>&nbsp;7 <input type="checkbox" /></td>
                      <td>JR Collins</td>
                      <td>Damon L.</td>
                      <td>Brian Jang</td>
                      <td></td>
                      <td>5/7/2018</td>
                      <td>8/19/2018</td>
                      <td>S</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;8 <input type="checkbox" /></td>
                      <td>Davien Kueline</td>
                      <td>Damon L.</td>
                      <td>JR Collins</td>
                      <td></td>
                      <td>5/7/2018</td>
                      <td>8/18/2018</td>
                      <td>S</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;9 <input type="checkbox" /></td>
                      <td>David Kresslein</td>
                      <td>Damon L.</td>
                      <td>Brian Jang</td>
                      <td></td>
                      <td>5/7/2018</td>
                      <td>8/19/2018</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>10 <input type="checkbox" /></td>
                      <td>Mack Shanks</td>
                      <td>Damon L.</td>
                      <td>Sean Megens</td>
                      <td></td>
                      <td>5/12/2018</td>
                      <td>8/15/2018</td>
                      <td>S</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>11 <input type="checkbox" /></td>
                      <td>Kevin Jang</td>
                      <td>Damon L.</td>
                      <td>Brian Jang</td>
                      <td></td>
                      <td>5/7/2018</td>
                      <td>8/19/2018</td>
                      <td>S</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>12 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>13 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>14 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>15 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>16 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>17 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>18 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <hr>
              <h4 class="brown">Atlanta 3 <span class="small">Start - 25th Apr</span><span class="pull-right"><a href="#"
                    class="btn btn-success btn-xs lite text-uppercase">Edit</a></span></h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Reg/Dev</th>
                      <th>Recruited By</th>
                      <th># PCA</th>
                      <th>ARRIVAL</th>
                      <th>Date</th>
                      <th>APT ?</th>
                      <th>CARS ?</th>
                      <th>BC</th>
                      <th>Verify</th>
                      <th>AGMT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>&nbsp;1 <input type="checkbox" /></td>
                      <td>Mitch Allred</td>
                      <td>Mike Payne</td>
                      <td>Mike Payne</td>
                      <td>250</td>
                      <td>4/1/2018</td>
                      <td>9/1/2018</td>
                      <td>MA</td>
                      <td>YES</td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>

                    <tr>
                      <td>&nbsp;2 <input type="checkbox" /></td>
                      <td>Brady Larsen</td>
                      <td>Mike Payne</td>
                      <td>Mitch Allred</td>
                      <td>150</td>
                      <td>3/1/2018</td>
                      <td>8/30/2018</td>
                      <td>M</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;3 <input type="checkbox" /></td>
                      <td>Brenden Wahl</td>
                      <td>Mike Payne</td>
                      <td>Mitch Allred</td>
                      <td></td>
                      <td>5/26/2018</td>
                      <td>8/12/2018</td>
                      <td>S</td>
                      <td>NO</td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;4 <input type="checkbox" /></td>
                      <td>Zane Affleck</td>
                      <td>Mike Payne</td>
                      <td>Mitch Allred</td>
                      <td></td>
                      <td>5/5/2018</td>
                      <td>8/25/2018</td>
                      <td>S</td>
                      <td></td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;5 <input type="checkbox" /></td>
                      <td>Jed Limdblom</td>
                      <td>Mike Payne</td>
                      <td>Mitch Allred</td>
                      <td></td>
                      <td>5/14/2018</td>
                      <td>8/31/2018</td>
                      <td>S</td>
                      <td>YES</td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;6 <input type="checkbox" /></td>
                      <td>Nate Lemieox</td>
                      <td>Mike Payne</td>
                      <td>Mitch Allred</td>
                      <td></td>
                      <td>5/1/2018</td>
                      <td>8/25/2018</td>
                      <td>S</td>
                      <td>YES</td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;7 <input type="checkbox" /></td>
                      <td>Mitch Shreeve</td>
                      <td>Mike Payne</td>
                      <td>Mitch Allred</td>
                      <td></td>
                      <td>5/15/2018</td>
                      <td>8/15/2018</td>
                      <td>S</td>
                      <td>YES</td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;8 <input type="checkbox" /></td>
                      <td>Riley Omanson</td>
                      <td>Conner</td>
                      <td></td>
                      <td>150</td>
                      <td>5/2/2018</td>
                      <td>7/28/2018</td>
                      <td>S</td>
                      <td>YES</td>
                      <td></td>
                      <td>Y</td>
                      <td>Y</td>
                    </tr>
                    <tr>
                      <td>&nbsp;9 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>10 <input type="checkbox" /></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                Austin
              </a>
            </h4>

          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body"></div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">
                Baltimore
              </a>
            </h4>

          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body"></div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>

</div>