<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h3 class="brown">Area Setup</h3>


      <div class="panel-group cus-panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Atlanta
              </a>
            </h4>

          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Atlanta 1</td>
                      <td>Damon Lilly</td>
                      <td>19</td>
                      <td>2</td>
                      <td>5/7/2018</td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Atlanta 2</td>
                      <td>Damon Lilly</td>
                      <td>18</td>
                      <td>0</td>
                      <td>5/7/2018</td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Atlanta 3</td>
                      <td>Mike Payne</td>
                      <td>10</td>
                      <td>0</td>
                      <td>4/25/2018</td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                Austin
              </a>
            </h4>

          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Austin 1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Austin 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">
                Baltimore
              </a>
            </h4>

          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Baltimore 1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Baltimore 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading4">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false"
                aria-controls="collapse4">
                Bay Area
              </a>
            </h4>

          </div>
          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Bay Area 1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Bay Area 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading5">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false"
                aria-controls="collapse5">
                Chicago
              </a>
            </h4>

          </div>
          <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Chicago 1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Chicago 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading6">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false"
                aria-controls="collapse6">
                Cincinnati
              </a>
            </h4>

          </div>
          <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cincinnati 1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Cincinnati 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading7">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false"
                aria-controls="collapse7">
                Cleveland
              </a>
            </h4>

          </div>
          <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cleveland 1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Cleveland 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading8">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false"
                aria-controls="collapse8">
                Columbus
              </a>
            </h4>

          </div>
          <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Columbus 1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Columbus 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading9">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false"
                aria-controls="collapse9">
                Dallas
              </a>
            </h4>

          </div>
          <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Dallas 1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Dallas 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading10">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false"
                aria-controls="collapse10">
                DC
              </a>
            </h4>

          </div>
          <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>DC 1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>DC 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading11">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false"
                aria-controls="collapse11">
                Denver
              </a>
            </h4>

          </div>
          <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Denver 1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Denver 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading12">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false"
                aria-controls="collapse12">
                Detroit
              </a>
            </h4>

          </div>
          <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Detroit 1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Detroit 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading13">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false"
                aria-controls="collapse13">
                Edison
              </a>
            </h4>

          </div>
          <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Edison 1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Edison 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading14">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false"
                aria-controls="collapse14">
                Ft. Lauderdale
              </a>
            </h4>

          </div>
          <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Ft. Lauderdale 1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Ft. Lauderdale 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading15">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false"
                aria-controls="collapse15">
                Houston
              </a>
            </h4>

          </div>
          <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Team</th>
                      <th>Primary Regional</th>
                      <th>Reps Needed</th>
                      <th>SPs Needed</th>
                      <th>Start Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Houston 1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                    <tr>
                      <td>Houston 2</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="glyphicon glyphicon-trash"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-success btn-sm pull-right">Add Team</a>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>

</div>