<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h3 class="brown">Area Management Summary</h3>
            <table class="table table-fixed">
                <thead>
                    <tr>
                        <th class="col-xs-2">Branch</th>
                        <th class="col-xs-2 text-center">Teams</th>
                        <th class="col-xs-2 text-center">Reps Needed</th>
                        <th class="col-xs-2 text-center">Reps Assigned</th>
                        <th class="col-xs-2 text-center">% Filled</th>
                        <th class="col-xs-2 text-center">Open</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dashboardData">

                        <td class="col-xs-2">{{item.branch}}</td>
                        <td class="col-xs-2 text-center">{{item.team}}</td>
                        <td class="col-xs-2 text-center">{{item.repsNeeded}}</td>
                        <td class="col-xs-2 text-center">{{item.repsAssigned}}</td>
                        <td class="col-xs-2 text-center">{{item.filled}}</td>
                        <td class="col-xs-2 text-center">{{item.open}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
        </div>
    </div>

</div>